---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { TALKS } from "@consts";

const talks = (await getCollection("talks"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={TALKS.TITLE} description={TALKS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Talks
      </div>
      <p class="animate">
        {TALKS.DESCRIPTION}
      </p>
      <ul class="animate flex flex-col gap-4">
        {
          talks.map((talk) => (
            <li>
              <ArrowCard entry={talk}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
