@import "tailwindcss";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    Lora, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-monospace:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --color-dblue-400: oklch(0.5458 0.1202 262.94);
}

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-dblue-400: oklch(0.5458 0.1202 262.94);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-dblue-400, currentcolor);
  }
}

@layer utilities {
  html {
    overflow-y: scroll;
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }

  html,
  body {
    @apply size-full;
  }

  body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-blue-100 dark:bg-slate-950;
    @apply text-blue-900 dark:text-dblue-400;
  }

  header {
    @apply fixed top-0 left-0 right-0 z-50 py-5;
    @apply bg-blue-100/75 dark:bg-slate-950/25;
    @apply backdrop-blur-xs;
  }

  main {
    @apply flex-1 py-32;
  }

  footer {
    @apply py-5 text-sm;
  }

  article {
    @apply max-w-full prose text-blue-900 dark:text-dblue-400 prose-img:mx-auto prose-img:my-auto;
    @apply prose-headings:text-blue-900 dark:prose-headings:text-dblue-400;
  }
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-blue-900 dark:decoration-dblue-400;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-black/25 dark:decoration-white/50;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}

.md-content {
  h2 {
    @apply text-xl font-semibold font-monospace;
  }

  ul {
    @apply marker:text-blue-900 dark:marker:text-dblue-400;
  }
}

.active-projects {
  article svg {
    @apply transition-all duration-700 ease-out;
  }

  article:hover svg {
    filter: hue-rotate(2deg) brightness(0.75);
  }
}

.dark .active-projects article:hover svg {
  filter: hue-rotate(2deg) brightness(1.8);
}

.jq-signature {
  @apply transition-all duration-700 ease-out;
  filter: hue-rotate(2deg) brightness(0.9);

  &:hover {
    filter: hue-rotate(2deg) brightness(0.75);
  }

  .dark &:hover {
    filter: hue-rotate(2deg) brightness(1.8);
  }
}

.dark .jq-signature {
  filter: none;
}
