---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import JQSignature from "../../public/jq-signature.svg";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <!-- <div class="font-semibold">
          {SITE.NAME}
        </div> -->
        <span role="img" aria-label="Obtego"><JQSignature class="jq-signature h-10" /></span>
      </Link>
      <nav class="flex gap-1">
        <!-- <Link href="/blog">
          blog
        </Link>
        <span>
          {`/`}
        </span> -->
        <Link href="/work">
          resumé
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">
          projects
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/talks">
          talks
        </Link>
      </nav>
    </div>
  </Container>
</header>
